<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listar Mascota</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Dirección</td>
                <td>Teléfono</td>
                <td>E-mail</td>
                <td>Ocupación</td>
            </tr>
        </thead>
        <tbody>
            {% for user in usuario %}
                <tr>
                    <td>{{user.nombre}}</td>
                    <td>{{user.direccion}}</td>
                    <td>{{user.telefono}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.ocupacion}}</td>
                    {% endfor %}
                </tr>
        </tbody>
    </table>
</body>
</html>